In [7]:
import pandas as pd

In [8]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

### The __pd.concat()__ method

- This method is used to combine two or more dataFrames
- Its first param is a list of the DFs that you want to combine
- It has a _ignore_index_ param that you can use to reset the index to make everything uniform(default: False)
- To be able to differentiate between the two combined DFs, we use a param called _keys_ . Note: when you do this, you do not need to use _ignore_index_

In [9]:
pd.concat([week1,week2], ignore_index= True).tail()

     Customer ID  Food ID
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

In [15]:
pd.concat([week1,week2], keys=["W1", "W2"]).head()
#now we know where the data comes from

      Customer ID  Food ID
W1 0          537        9
   1           97        4
   2          658        1
   3          202        2
   4          155        9

### The .append() Method

The only difference between this method and pd.concat() method is that you call .append() method on the DF object.
However, you call .concat() method on the pd object itself

In [17]:
week2.append(week1, ignore_index= True).head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

## Inner Joins

In [22]:
week1.merge(week2, how="inner", on="Customer ID", suffixes= ["-Week1", "-Week2"]).head()

   Customer ID  Food ID-Week1  Food ID-Week2
0          537              9              5
1          155              9              3
2          155              1              3
3          503              5              8
4          503              5              9

See how we joined both DataFrames:
- we used the __.merge()__ method
- the first param: __right__ which indicates which Df you want to merge with
- the second param: __how__ which sets what kind of join you want i.e. inner,outer e.t.c.
- the third param:  __on__ which means on what common field do you want to merge both DFs (this is the _foreign_key in SQL)
- the __suffixes__ param is an indicator for different fields when the DFs are joined

In [27]:
mask = week1["Customer ID"] == 233
week1[mask]

    Customer ID  Food ID
94          233        3

In [28]:
mask1 = week2["Customer ID"] == 233
week2[mask1]

     Customer ID  Food ID
238          233        3