## Welcome to the Panda's Course - Series Modules

Importing Libraries

In [2]:
import pandas as pd

### Creating a Pandas Series from a List

In [ ]:
Please note: A series is

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raising"]

fSeries = pd.Series(ice_cream)

In [4]:
fSeries

0      Chocolate
1        Vanilla
2     Strawberry
3    Rum Raising
dtype: object

In [5]:
lottery = [4,8,15,16,23,42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Creating a Pandas Series from a dictionary

In [6]:
anObject = {"Gozy" : 27, "role": "Developer"}

pd.Series(anObject)

Gozy           27
role    Developer
dtype: object

### Importing CSV files with Pandas

In [15]:
csv = pd.read_csv("pokemon.csv", squeeze= True)

#### **the squeeze parameter is to make change the return value a Series instead of a DataFrame

In [13]:
csv

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [16]:
csv = pd.read_csv("pokemon.csv", squeeze= True, usecols= ["Pokemon"])

#### the **usecols param takes a list of the field name you want to display

In [17]:
csv

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [18]:
csv.head() #this method returns the first five rows of the series by default. It also takes in the number of rows you want

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [19]:
csv.head(15)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
Name: Pokemon, dtype: object

In [20]:
csv.tail() #same as head() but reads from the bottom

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [21]:
len(csv) #length of the data

721

In [22]:
google = pd.read_csv("google_stock_price.csv", squeeze= True)

In [26]:
google.values #the values property gives you the values of the series in an array

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [27]:
google.index #this property gives you the index info of the series

RangeIndex(start=0, stop=3012, step=1)

In [28]:
google.dtype #this property gives you the data type of the Series

dtype('float64')