## Welcome to the Panda's Course - Series Modules

Importing Libraries

In [2]:
import pandas as pd

### Creating a Pandas Series from a List

##### Please note: A series is a one dimensional object. i.e it has just one column

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raising"]

fSeries = pd.Series(ice_cream)

In [4]:
fSeries

0      Chocolate
1        Vanilla
2     Strawberry
3    Rum Raising
dtype: object

In [5]:
lottery = [4,8,15,16,23,42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Creating a Pandas Series from a dictionary

In [6]:
anObject = {"Gozy" : 27, "role": "Developer"}

pd.Series(anObject)

Gozy           27
role    Developer
dtype: object

### Importing CSV files with Pandas

In [15]:
csv = pd.read_csv("pokemon.csv", squeeze= True)

#### **the squeeze parameter is to make change the return value a Series instead of a DataFrame

In [13]:
csv

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [16]:
csv = pd.read_csv("pokemon.csv", squeeze= True, usecols= ["Pokemon"])

#### the **usecols param takes a list of the field name you want to display

In [17]:
csv

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [18]:
csv.head() #this method returns the first five rows of the series by default. It also takes in the number of rows you want

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [19]:
csv.head(15)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
Name: Pokemon, dtype: object

In [20]:
csv.tail() #same as head() but reads from the bottom

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [21]:
len(csv) #length of the data

721

In [22]:
google = pd.read_csv("google_stock_price.csv", squeeze= True)

In [26]:
google.values #the values property gives you the values of the series in an array

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [27]:
google.index #this property gives you the index info of the series

RangeIndex(start=0, stop=3012, step=1)

In [28]:
google.dtype #this property gives you the data type of the Series

dtype('float64')

In [30]:
google.is_unique #this tells you if there are duplicates in the data series

False

In [31]:
google.shape #shape returns => (rows, columns)

(3012,)

the value above shows that the series is one-dimensional

In [32]:
google.name

'Stock Price'

### The .sort_values() Method

##### this method sorts the data in the series and returns another series

In [44]:
pokemon = pd.read_csv("pokemon.csv" ,usecols = ["Pokemon"], squeeze= True)

In [47]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [50]:
pokemon.sort_values(ascending= False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

### The inplace Parameter

In [51]:
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [52]:
google.sort_values().head(15)

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
7     50.95
14    51.10
13    51.10
8     51.13
3     52.38
15    52.61
4     52.95
6     53.02
16    53.70
5     53.90
Name: Stock Price, dtype: float64

In [53]:
google.sort_values(ascending= False, inplace= True)

The inplace parameter makes a permanent change on the series variable

### The sort_index() method

In [54]:
google.head(15)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
2934    766.61
2882    764.65
2844    763.25
2858    762.51
2841    762.38
Name: Stock Price, dtype: float64

See how the index values are not sorted

In [56]:
google.sort_index(ascending= True).head(15)

0     50.12
1     54.10
2     54.65
3     52.38
4     52.95
5     53.90
6     53.02
7     50.95
8     51.13
9     50.07
10    50.70
11    49.95
12    50.74
13    51.10
14    51.10
Name: Stock Price, dtype: float64

### Using the in Keyword

In [57]:
pokemon.values

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey',
       'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow',
       'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash',
       'Nidoran', 'Nidorina', 'Nidoqueen', 'Nidoran♂', 'Nidorino',
       'Nidoking', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales',
       'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom',
       'Vileplume', 'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett',
       'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey',
       'Primeape', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl',
       'Poliwrath', 'Abra', 'Kadabra', 'Alakazam', 'Machop', 'Machoke',
       'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'Magnemite', 'Magneton', "Farfetch'd",
       'Doduo', 'Dodrio', 'Seel', 'Dewgong', 'Grimer', 'Muk', 'Shellder',
       'Cloyster', 'Gastly', 'Haunter', 'Gengar', 'Onix', 'Drowzee',
       'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking',
       'Staryu', 'Starmie', 'Mr. Mime', 'Scyther', 'Jynx', 'Electabuzz',
       'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Lapras',
       'Ditto', 'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon',
       'Omanyte', 'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl',
       'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'Bellossom', 'Marill',
       'Azumarill', 'Sudowoodo', 'Politoed', 'Hoppip', 'Skiploom',
       'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora', 'Yanma', 'Wooper',
       'Quagsire', 'Espeon', 'Umbreon', 'Murkrow', 'Slowking',
       'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig', 'Pineco',
       'Forretress', 'Dunsparce', 'Gligar', 'Steelix', 'Snubbull',
       'Granbull', 'Qwilfish', 'Scizor', 'Shuckle', 'Heracross',
       'Sneasel', 'Teddiursa', 'Ursaring', 'Slugma', 'Magcargo', 'Swinub',
       'Piloswine', 'Corsola', 'Remoraid', 'Octillery', 'Delibird',
       'Mantine', 'Skarmory', 'Houndour', 'Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'Lugia', 'Ho-oh', 'Celebi', 'Treecko', 'Grovyle', 'Sceptile',
       'Torchic', 'Combusken', 'Blaziken', 'Mudkip', 'Marshtomp',
       'Swampert', 'Poochyena', 'Mightyena', 'Zigzagoon', 'Linoone',
       'Wurmple', 'Silcoon', 'Beautifly', 'Cascoon', 'Dustox', 'Lotad',
       'Lombre', 'Ludicolo', 'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow',
       'Swellow', 'Wingull', 'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'Surskit', 'Masquerain', 'Shroomish', 'Breloom', 'Slakoth',
       'Vigoroth', 'Slaking', 'Nincada', 'Ninjask', 'Shedinja', 'Whismur',
       'Loudred', 'Exploud', 'Makuhita', 'Hariyama', 'Azurill',
       'Nosepass', 'Skitty', 'Delcatty', 'Sableye', 'Mawile', 'Aron',
       'Lairon', 'Aggron', 'Meditite', 'Medicham', 'Electrike',
       'Manectric', 'Plusle', 'Minun', 'Volbeat', 'Illumise', 'Roselia',
       'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo', 'Wailmer', 'Wailord',
       'Numel', 'Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'Zangoose', 'Seviper', 'Lunatone', 'Solrock',
       'Barboach', 'Whiscash', 'Corphish', 'Crawdaunt', 'Baltoy',
       'Claydol', 'Lileep', 'Cradily', 'Anorith', 'Armaldo', 'Feebas',
       'Milotic', 'Castform', 'Kecleon', 'Shuppet', 'Banette', 'Duskull',
       'Dusclops', 'Tropius', 'Chimecho', 'Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'Spheal', 'Sealeo', 'Walrein', 'Clamperl', 'Huntail',
       'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon', 'Shelgon',
       'Salamence', 'Beldum', 'Metang', 'Metagross', 'Regirock', 'Regice',
       'Registeel', 'Latias', 'Latios', 'Kyogre', 'Groudon', 'Rayquaza',
       'Jirachi', 'Deoxys', 'Turtwig', 'Grotle', 'Torterra', 'Chimchar',
       'Monferno', 'Infernape', 'Piplup', 'Prinplup', 'Empoleon',
       'Starly', 'Staravia', 'Staraptor', 'Bidoof', 'Bibarel',
       'Kricketot', 'Kricketune', 'Shinx', 'Luxio', 'Luxray', 'Budew',
       'Roserade', 'Cranidos', 'Rampardos', 'Shieldon', 'Bastiodon',
       'Burmy', 'Wormadam', 'Mothim', 'Combee', 'Vespiquen', 'Pachirisu',
       'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos', 'Gastrodon',
       'Ambipom', 'Drifloon', 'Drifblim', 'Buneary', 'Lopunny',
       'Mismagius', 'Honchkrow', 'Glameow', 'Purugly', 'Chingling',
       'Stunky', 'Skuntank', 'Bronzor', 'Bronzong', 'Bonsly', 'Mime Jr.',
       'Happiny', 'Chatot', 'Spiritomb', 'Gible', 'Gabite', 'Garchomp',
       'Munchlax', 'Riolu', 'Lucario', 'Hippopotas', 'Hippowdon',
       'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak', 'Carnivine',
       'Finneon', 'Lumineon', 'Mantyke', 'Snover', 'Abomasnow', 'Weavile',
       'Magnezone', 'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire',
       'Magmortar', 'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon',
       'Gliscor', 'Mamoswine', 'Porygon-Z', 'Gallade', 'Probopass',
       'Dusknoir', 'Froslass', 'Rotom', 'Uxie', 'Mesprit', 'Azelf',
       'Dialga', 'Palkia', 'Heatran', 'Regigigas', 'Giratina',
       'Cresselia', 'Phione', 'Manaphy', 'Darkrai', 'Shaymin', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino', 'Timburr',
       'Gurdurr', 'Conkeldurr', 'Tympole', 'Palpitoad', 'Seismitoad',
       'Throh', 'Sawk', 'Sewaddle', 'Swadloon', 'Leavanny', 'Venipede',
       'Whirlipede', 'Scolipede', 'Cottonee', 'Whimsicott', 'Petilil',
       'Lilligant', 'Basculin', 'Sandile', 'Krokorok', 'Krookodile',
       'Darumaka', 'Darmanitan', 'Maractus', 'Dwebble', 'Crustle',
       'Scraggy', 'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus',
       'Tirtouga', 'Carracosta', 'Archen', 'Archeops', 'Trubbish',
       'Garbodor', 'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita',
       'Gothorita', 'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus',
       'Ducklett', 'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe',
       'Deerling', 'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier',
       'Foongus', 'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola',
       'Joltik', 'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink',
       'Klang', 'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross',
       'Elgyem', 'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew',
       'Fraxure', 'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'Tornadus', 'Thundurus', 'Reshiram',
       'Zekrom', 'Landorus', 'Kyurem', 'Keldeo', 'Meloetta', 'Genesect',
       'Chespin', 'Quilladin', 'Chesnaught', 'Fennekin', 'Braixen',
       'Delphox', 'Froakie', 'Frogadier', 'Greninja', 'Bunnelby',
       'Diggersby', 'Fletchling', 'Fletchinder', 'Talonflame',
       'Scatterbug', 'Spewpa', 'Vivillon', 'Litleo', 'Pyroar', 'Flabébé',
       'Floette', 'Florges', 'Skiddo', 'Gogoat', 'Pancham', 'Pangoro',
       'Furfrou', 'Espurr', 'Meowstic', 'Honedge', 'Doublade',
       'Aegislash', 'Spritzee', 'Aromatisse', 'Swirlix', 'Slurpuff',
       'Inkay', 'Malamar', 'Binacle', 'Barbaracle', 'Skrelp', 'Dragalge',
       'Clauncher', 'Clawitzer', 'Helioptile', 'Heliolisk', 'Tyrunt',
       'Tyrantrum', 'Amaura', 'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne',
       'Carbink', 'Goomy', 'Sliggoo', 'Goodra', 'Klefki', 'Phantump',
       'Trevenant', 'Pumpkaboo', 'Gourgeist', 'Bergmite', 'Avalugg',
       'Noibat', 'Noivern', 'Xerneas', 'Yveltal', 'Zygarde', 'Diancie',
       'Hoopa', 'Volcanion'], dtype=object)

In [58]:
"Pichu" in pokemon.values

True

#### Extracting values from the series

In [60]:
pokemon.values[1]

'Ivysaur'

In [61]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [62]:
pokemon.values[90]

'Cloyster'

choosing the index column

In [65]:
pokemon = pd.read_csv("pokemon.csv", index_col= "Pokemon", squeeze= True)

In [66]:
pokemon.head(10)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

##### The .get() method on a Series - this takes in an index value as the key and returns its value

In [67]:
pokemon.head(10)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [68]:
pokemon.get("Venusaur")

'Grass'

it can accept more than one index value

In [69]:
pokemon.get(["Squirtle", "Caterpie"])

Pokemon
Squirtle    Water
Caterpie      Bug
Name: Type, dtype: object

### Math Methods on Series Objects

In [71]:
google.count() #this does not include nul values as opposed to the len() function

3012

In [72]:
google.mean()

334.31009296148767

In [73]:
google.sum()

1006942.0000000001

In [74]:
google.min()

49.95

In [75]:
google.max()

782.22

In [76]:
google.mode() #value that occurs the most

0    291.21
dtype: float64

In [77]:
google.describe() #this gives us a statistical description of all the above

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [78]:
google.idxmax() #this gives us the index value of the highest value

3011

In [79]:
google.idxmin()

11

#### The value_counts() method counts how many times each value (not key) appear in the data set

In [80]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

Water appears 105 times; Grass appears 66 times

In [81]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [83]:
pokemon.value_counts(ascending= True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

### The .apply() method

this method takes in a callback function and applies it on all the values in the dataset

In [85]:
#defining the func

In [86]:
def classify(value):
    if value < 30:
        return "OK"
    elif value > 30 and value < 60:
        return "GOOD"
    else:
        return "GREAT"

In [90]:
google.sort_index(ascending= True, inplace= True)

In [91]:
google.head(20).apply(classify)

0     GOOD
1     GOOD
2     GOOD
3     GOOD
4     GOOD
5     GOOD
6     GOOD
7     GOOD
8     GOOD
9     GOOD
10    GOOD
11    GOOD
12    GOOD
13    GOOD
14    GOOD
15    GOOD
16    GOOD
17    GOOD
18    GOOD
19    GOOD
Name: Stock Price, dtype: object

In [93]:
google.apply(lambda stock_price: stock_price + 1)
#lambda is used to define anonymous funcs in Python; stock_price is the parameter

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
The .map() method compares two data sets